*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Yandex Sans Display Regular';
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 100vh; */
  padding-bottom: 320px;
}

.header__top {
  padding-top: 55px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a+a {
  margin-left: 8px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 225px;
}

.header__title {
  text-align: center;
  font-family: 'Yandex Sans Display Bold';
  font-weight: bold;
  font-size: 45px;
  line-height: 56px;
  margin: 30px 0 55px;
}

.header__descr {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;

}

#menu__toggle {
  opacity: 0;
  display: none;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 55px;
  right: 20px;
  width: 50px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  height: 5px;
  right: 0;
  background-color: #000000;
  border-radius: 4px;
}

.menu__btn>span {
  width: 45px;
}

.menu__btn>span::before {
  content: "";
  top: -10px;
  width: 50px;
}

.menu__btn>span::after {
  content: "";
  top: 10px;
  width: 50px;
}


.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 330px;
  height: 100%;
  margin: 0;
  padding: 130px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: -20px 20px 14px rgba(0, 0, 0, 0.05), -7px 7px 14px rgba(0, 0, 0, 0.1);

}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
  text-align: right;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__btn.active {
  z-index: 7;
}

.menu__btn.active>span {
  transform: rotate(45deg);
}

.menu__btn.active>span::before {
  top: 0;
  transform: rotate(0);
}

.menu__btn.active>span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__box.active {
  visibility: visible;
  right: 0;
  z-index: 5;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .4s;
}

.menu__box {
  transition-duration: .4s;
}

.menu__item {
  transition-duration: .4s;
}

.footer {
  background-color: #313132;
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 auto;
}

.footer__item {
  width: 100%;
}

.footer__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 0px;
  text-align: center;
}

.footer__descr {
  text-align: center;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.item__wrapper-1 {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.item__wrapper a {
  font-size: 16px;
  line-height: 20px
}

.item__wrapper a+a {
  margin-top: 20px;
}

.copy {
  font-size: 12px;

  text-align: center;
  color: #CECECE;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.reg-header {
  background-image: url("../img/registration-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.reg-header__logo {
  display: block;
  margin: 0 auto;
  padding-top: 160px;
  margin-bottom: 55px;
}

.reg__form {
  margin: 0 auto;
  text-align: center;
  color: #888888;
}

.reg__form p {
  font-size: 13px;
  line-height: 17px;
}

.reg__form-input {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 21px;
  color: #5CA80F;
  outline: none;
  margin: 0 auto 17px;
  border: none;
  border-bottom: 1px solid #CCD0D5;
  width: 315px;
  height: 44px;
  padding: 0 20px;
  background-color: transparent;
}

.reg__form-input:placeholder {
  color: #4B4F56;
}

.reg__submit-btn {
  color: #fff;
  background: linear-gradient(94.88deg, #73D556 3.17%, #66C74A 65.56%);
  border-radius: 11.3833px;
  display: block;
  margin: 50px auto 0;
  border: none;
  cursor: pointer;
  padding: 10px 15px 14px;
  max-width: 200px;
  outline: none;
}

.login-link {
  font-size: 13.2806px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline;
  color: #343434;
}

.reg__support {
  margin-bottom: 80px;
}

.reg-support__text {
  margin-top: 85px;
  color: #343434;
}

.reg-support__link {
  display: block;
  margin: 0 auto 10px;
  font-size: 11.3833px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #888888;
  position: relative;
  max-width: 130px;
  text-align: left;
}

.reg-support__link::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -25px;
  width: 19px;
  height: 19px;
}

.reg-support__link-1::before {
  background-image: url("../img/lock.svg");
}

.reg-support__link-2::before {
  background-image: url("../img/call.svg");
}

.reg-support__link-3::before {
  background-image: url("../img/customer-support.svg");
}

.reg__copy {
  color: #CECECE;
  margin: 0;
  padding-bottom: 10px;
}

.login-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.login-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: #343434;
  font-size: 13px;
  line-height: 17px;
}
.login-checkbox + label::before {
  
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.login-checkbox:checked+label::before {
  border-color: #446E7D;;
  background-color: #446E7D;
  background-image: url("../img/check.svg");
}

.login__form-input {
  margin-bottom: 80px;
}

.log__submit-btn {
  color: #fff;
  background: linear-gradient(94.88deg, #73D556 3.17%, #66C74A 65.56%);
  border-radius: 11.3833px;
  display: block;
  margin: 20px auto 0;
  border: none;
  cursor: pointer;
  padding: 10px 15px 14px;
  max-width: 200px;
  outline: none;
}
.log__support {
  margin-bottom: 15px;
}



/*Адаптив*/

@media (max-width: 950px) {
  body {
    font-size: 15px;
    line-height: 18px;
  }
  .header__title {
    font-size: 38px;
    line-height: 45px;
  }
  .container {
    padding: 0 30px;
  }
  .reg__submit-btn {
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 700px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer__item-1 {
    display: none;
  }
  .logo {
    height: 100px;
    width: 100px;
  }
  .item__wrapper {
    width: 100%;
    margin: 40px auto 80px;
    text-align: center;
  }
  .reg-header {
    background-image: url("../img/mob-reg-bg.jpg");
  }
 
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
    line-height: 15px;
  }
  .reg__form-input {
    font-size: 12px;
    line-height: 15px;
    width: 280px;
  }
  .reg__submit-btn {
    font-size: 17px;
    line-height: 21px;
  }
  .header {
    background-image: url("../img/mob-bg-1.jpg");
  }
  .header__title {
    font-size: 30px;
    line-height: 37px;
  }
  .menu {
    display: none;
  }
  .logo {
    height: 80px;
    width: 80px;
  }
  .menu__btn>span {
    width: 26px;
    height: 3px;
  }
  
  .menu__btn>span::before {
    content: "";
    top: -6px;
    width: 30px;
    height: 3px;
  }
  
  .menu__btn>span::after {
    content: "";
    top: 6px;
    width: 30px;
    height: 3px;
  }
  .logo {
    margin: 0 auto;
    margin-top: 125px;
  }
  .header {
    padding-bottom: 125px;
  }
 

}

@media (max-width: 415px) {
  .menu__box {  
    width: 100%;
  }
  .menu__item {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}
